body {
  font-size: 14px;
  font-family: "PTSans";
  color: rgb(0, 0, 0);
  font-weight: bold;
  line-height: 1.714;
}

h2 {
  font-size: 24px;
  font-family: "PTSans";
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.25;
  margin: 0px;
}


h1 {
  font-size: 30px;
  font-family: "PTSans";
  color: rgb(0, 0, 0);
  font-weight: bold;
  line-height: 1.4;
  text-align: left;
  text-transform: uppercase;
    margin: 0px;
    margin-bottom: 25px;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
  
}

.clearfix::after {
  content: "";

  display: table;
  clear: both;
}

.main-header {
    height: 72px;
    background-color: #1257aa;
    opacity: 0.5;
}

.main-navigation {
  width: 780px;
  float: left;
  height: 72px;
  vertical-align: middle;    
}


.user-block {
  width: 140px;
  float: right;
}

nav>a {
  display: inline-block;
}

nav li,
nav ul {
  display: inline-block;
    margin-right: 40px;
}

.main-catalog {
    height: 910px;
    background-color: #1277aa;
    opacity: 0.5;
}

.main-catalog .container{
    padding-top: 55px;
}

.breadcrumbs ul{
    margin-top: 0px;
    margin-bottom: 58px;
    padding: 0px;
}

.breadcrumbs li {
    display: inline-block;
}

.feedback-form-group {
    width: 220px;
    float: left;
}

.Products {
    width: 700px;
    float: right;
}

.Products article {
    float: left;
    width: 220px;
    height: 286px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.Products article:nth-child(3n) {
    margin-right: 0px;
}

.Product-nav {
    margin-top: 30px;
    float: left;
}

.Product-nav a {
  display: inline-block;
  width: 43px;
  height: 43px;
    line-height: 43px;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    text-decoration: none;
    color: white;
    margin-right: 7px;
    
    background-color: black;
    color: white;
}

ul {
  padding: 0px;
}

.main-footer {
    box-sizing: border-box;
    height: 189px;
    background-color: #1257aa;
    opacity: 0.5;
    padding-top: 60px;
}


.footer-contacts {
  float: left;
  width: 310px; 
    margin-right: 93px;
}

.footer-social {
    float: left;
  width: 180px;
}

.footer-copyright {
    float: right;
  width: 180px;
}


.product-description {
    box-sizing: border-box;
    min-height: 900px;
    padding-top: 50px;
}


.left-column {
    float: left;
    width: 460px;
    padding: 0px;
}

.gallery img{
    margin-right: 20px;
}

.gallery img:first-child {
    margin-bottom: 20px;
}

.gallery img:last-child {
    margin-right: 0px;
}

.right-column {
    float: right;
    width: 390px;
}

.right-column p {
    display: inline-block;
    margin-top: 20px;
    
}


















































